@use "./helpers/" as *;
:root {
  /// Colors
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-dark-08: #141414;
  --color-dark-10: #1a1a1a;
  --color-dark-15: #262626;
  --color-dark-20: #333333;
  --color-dark-40: #666666;
  --color-gray-50: #7e7e81;
  --color-gray-60: #98989a;
  --color-accent: #ffd11a;
  --color-red: #ff5500;

  /// Fonts
  --font-family-base: "Inter", sans-serif;
  --font-family-accent: "Kumbh Sans", sans-serif;

  /// Weight
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;

  /// Radius
  --radius-4: 0.25rem;
  --radius-6: 0.375rem;
  --radius-8: 0.5rem;
  --radius-10: 0.625rem;
  --radius-12: 0.75rem;
  --radius-circle: 50%;
  --radius-pill: 32rem;

  /// Other
  --border-main: #{rem(1)} solid var(--color-dark-15);

  --letter-003: -0.03em;
  --container-width: #{rem(1600)};
  --container-padding-X: #{rem(16)};
  --transition-duration: 0.2s;

  --shadow: 0 0 0 #{rem(8)} #191919;

  @include laptop {
    --container-width: #{rem(1280)};
  }
}
